



body {

  background: rgb(195,61,34);
background: linear-gradient(0deg, rgba(195,61,34,1) 0%, rgba(199,137,137,1) 100%);
  background-size:cover;
  background-repeat: no-repeat;
  height:100vh;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav{
  margin-left:65%;

}

.navbar-brand{
  margin-left: 1rem;
}
#guest_div{
  margin-left:200px;
}


.nav-link{
  margin:10px;

}

.form-control{
  margin:10px;
}


#guest_title{
text-align: center;
 color: white;
 font-size: 2rem;
}
.text{
  font-size: 3.5rem;
  font-weight: 700;
 margin: 100px;
 padding: 50px;
}

.welcome_header{
  margin:90px;
  padding:10px;
  
}

.welcome_title{
  font-size:3.5rem;
  color: white;
  margin: 90px;
  font-family: 'Montserrat', sans-serif;
}

 .btn-dark{
margin: 50px;
}

#frame{
  margin-right: 90%;
}
#start{
  margin-right: 30px;
}

.nav-link{
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}


#upload-button {
  margin: 0px;
}

#continue-button {
  margin: 40px;
}

#snap_btn{
  margin: 10px;
  margin-right: 300px;
}


#webcam_paragraph{
  font-family: 'Montserrat', sans-serif;
 
  color: white;
font-size: 3.5rem;
}

.print-cover{
  background-color: white;
}

#print-btn{
  margin: 30px;
}

#detial-text{
  color:rgb(223, 50, 50);
}

.print-cover{
  background: rgb(195,61,34);
background: linear-gradient(0deg, rgba(195,61,34,1) 0%, rgba(199,137,137,1) 100%);
}

.empl-list{
  color:white;
  text-align:right;
}

#canvas{
border-radius: 50%;

}

#video{
  border-radius: 50%;
}

ul{
  list-style-type: none;

  margin:0;
  padding:0;
cursor: pointer;
  
}

.autocompletetext-ul::before{
  content:""
}

li{
  padding:10px 5px;
cursor: pointer;
}
li:hover{
text-decoration: underline;
background-color: rgba(128,128,128,0.20);
}

.welcome_header{
  margin:90px;
  padding:10px;
  
}

.welcome_title{
  font-size:3.5rem;
  color: white;
  margin: 90px;
  font-family: 'Montserrat', sans-serif;
}

.admin-header{
  margin:150px;

}

.card {
  margin:20px
  }